.dividedContainer {
	display: flex;
}

.tab {
	width: 50vw;
	height: calc(100vh - 64px);
}

.Tab h1 {
	margin: 0;
}

.leftTab {
	background: yellowgreen;
}

.rightTab {
	background: yellow;
}

.color-primary {
	background: #3498dbff;
}
